#Configuración de la base de datos
DATABASE_URL=postgres://usuario:contraseña@localhost:5432/nombre_base_de_datos

#Seguridad y autenticación (Se usará para la firma de tokens JWT y otras operaciones criptográficas)
SECRET_KEY=tu_clave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
