# Python
__pycache__/
*.py[cod]
*.pyo
*.$py.class

# Entornos virtuales
venv/
.venv/
env/

# Archivos de configuración local
config.ini

# Variables de entorno
.env

# Archivos de base de datos locales
*.db
*.sqlite3

# Logs
*.log

# Archivos temporales
*.tmp

# Archivos de VS Code
.vscode/
.idea/

# Archivos de PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Reportes temporales
reports/temp/

# Archivos compilados de Qt
*.qrc.dep